node_modules
out
.env
.waypoint
audit-log.sh
loop.sh
notes.md
install.txt
output.txt

cdk.out
cdk.context.json
cdk-outputs.json

dockerAuth.json
data.db
*.db.lock

# ignore rust project build outputs
target
waypoint-restore.db

# ignore terraform dot folder
.terraform*